.pending-list > div > p, button {
	display: inline;
}

.cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border: 1px solid;
	height: 60px;
	min-width: 50px;
  max-width: 50px;
}
