<div class="nfc-score-update">
	NFC
	<input type="button" class="add-touchdown" value="+7" />
	<input type="button" class="add-fieldgoal" value="+3" />
	<input type="button" class="add-one" value="+1" />
	<input type="button" class="subtract-one" value="-1" />
</div>

<div class="afc-score-update">
	AFC
	<input type="button" class="add-touchdown" value="+7" />
	<input type="button" class="add-fieldgoal" value="+3" />
	<input type="button" class="add-one" value="+1" />
	<input type="button" class="subtract-one" value="-1" />
</div>

</br>

<div class="user-list"></div>