<div class="nfc-score-update">
	<span class="nfc-score"></span>pts NFC
	<input type="button" class="score add-touchdown" value="+7" data-val="7" data-conf="nfc" />
	<input type="button" class="score add-fieldgoal" value="+3" data-val="3" data-conf="nfc" />
	<input type="button" class="score add-one" value="+1" data-val="1" data-conf="nfc" />
	<input type="button" class="score subtract-one" value="-1" data-val="-1" data-conf="nfc" />
</div>

<div class="afc-score-update">
	<span class="afc-score"></span>pts AFC
	<input type="button" class="score add-touchdown" value="+7" data-val="7" data-conf="afc" />
	<input type="button" class="score add-fieldgoal" value="+3" data-val="3" data-conf="afc" />
	<input type="button" class="score add-one" value="+1" data-val="1" data-conf="afc" />
	<input type="button" class="score subtract-one" value="-1" data-val="-1" data-conf="afc" />
</div>

</br>

<p class="board-link"></p>

</br>

<div class="user-list">
	<div class="pending-list"></div>
	<div class="confirmed-list"></div>
</div>