<div class="container" id="index_page">
  <div class="bs-example">
    <div class="jumbotron text-center">
      <h1>Squares</h1>
      <p>Create your board now (Change me later)</p>
      <form class="form-inline" role="form">
        <div class="form-group">
        <input type="text" class="board-name" placeholder="Board Name" hidden="hidden" />
        <input type="text" class="square-price" placeholder="Price Per Square" hidden="hidden" />
        <input type="button" class="create-board btn btn-primary btn-lg" value="Create Board"/>
        </div>
      </form>
    </div>
  </div>
</div>
