<!doctype html>
<html>
<head>
	<meta charset="UTF-8">

  <!-- bootstrap -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">

  <!-- styles -->
  <link href="../stylesheets/layout.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

	<!-- vendor js -->
	<script src="/javascripts/jquery-1.10.2.min.js"></script>
	<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>

	<!-- app js -->
  <script src="/javascripts/assign_numbers.js"></script>
  <script src="/javascripts/FIREBASE.js"></script>
  <script src="/javascripts/user.js"></script>
  <script src="/javascripts/landing-page.js"></script>
	<script src="/javascripts/board.js"></script>
	<script src="/javascripts/admin.js"></script>

	<!-- stylesheets -->
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <%= yield %>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>