<!doctype html>
<html>
<head>
	<meta charset="UTF-8">

	<!-- vendor js -->
	<script src="/javascripts/jquery-1.10.2.min.js"></script>
	<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>

	<!-- app js -->
  <script src="/javascripts/FIREBASE.js"></script>
  <script src="/javascripts/user.js"></script>
  <script src="/javascripts/landing-page.js"></script>
	<script src="/javascripts/board.js"></script>
</head>
<body>
	<%= yield %>
</body>
</html>