<div class="container">
  <%= erb :_navbar %>

  <div class="admin_well">
    <div class="jumbotron col-md-8 col-md-offset-2">

      <input id="textfield" type="text">
      <input id="input" type="submit">

      <div class="board"></div>

    </div>
  </div>
</div>